<!DOCTYPE html>
<html lang="en">

<head>
	<style>
	</style>
	<div align=center class="p-3 mb-2 bg-primary text-white">Welcome, [[${#httpServletRequest.remoteUser}]]</div>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>
		Support Page
	</title>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container">
		<br>
		<hr>
		<h2>New Ticket</h2>

		<div>
			<form th:object="${ticket}" th:action="@{save}" action="#" method="post">
				<label for="topic">Topic</label>
				<input type="text" id="topic" th:field="*{topic}" />
				<label for="starter">Starter</label>
				<input type="text" id="starter" th:field="*{starter}" />
				<br>
				<label for="branchlist">Branch</label>
				<select id="branchlist" style="width: 100px" th:field="*{branch}" class="form-control">
					<option th:each="branch: ${branches}" th:value="${branch.branchid}"
						th:text="${branch.name}">
					</option>
				</select>

				<label for="urgencylist">Urgency</label>
				<select id="urgencylist" style="width: 100px" th:field="*{urgency}" class="form-control">
					<option th:each="urgency: ${urgencies}" th:value="${urgency.urgencyid}"
						th:text="${urgency.name}">
					</option>
				</select>

				<label for="statuslist">Status</label>
				<select id="statuslist" style="width: 100px" th:field="*{status}" class="form-control">
					<option th:each="status: ${statuses}" th:value="${status.statusid}"
						th:text="${status.name}">
					</option>
				</select>
				<hr>
				<input type="submit" value="Submit" class="btn btn-success"></input>
				<td><a th:href="@{/support}" class="btn btn-warning">Cancel</a></td>
			</form>
		</div>

	</div>

	<aside>
	</aside>

</body>

</html>