<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <style>

    </style>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>
        Support Page
    </title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    
</head>

<body>
<div class="container">
    <nav>
    </nav>

	<div>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div>
		<form th:action="@{/logout}" method="post">
    		<input type="submit" value="Sign Out" class="btn btn-s btn-info"/>
    	</form>
	</div>

    <div>
        <h1>Tickets</h1>
	 </div>

        <table class="table table-striped">
            <tr>
                <th>Topic</th>
                <th>Starter</th>
                <th>Branch</th>
                <th>Urgency</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.topic}"></td>
                <td th:text="${ticket.starter}"></td>
                <td th:text="${ticket.branch.name}"></td>
                <td th:text="${ticket.urgency.name}"></td>
                <td th:text="${ticket.status.name}"></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${ticket.id})}" class="btn btn-s btn-primary">Edit</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${ticket.id})}" class="btn btn-s btn-danger">Delete</a></td>
                
            </tr>
        </table>
        <a href="/add" class="btn btn-s btn-success">New Ticket</a>


    <aside>
    </aside>
</div>
</body>

</html>